html{
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
}
*{
  box-sizing: border-box;
}

header{
  height: 65px;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  border-bottom: 1px solid #666666;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.headerWrapper{
  width: 960px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.textName{
  width: 200px;
  height: 100%;
  background-color: #4aaaa5;
  float: left;
  text-align: center;
  vertical-align: middle;
  line-height: 400%;
  color: white;
}

h2{
  font-size: 22px;
  font-weight: 900;

}

.buttonContainer{
  float: right;
  position: absolute;
  right: 0;
  top: 25%;
}

.button, button{
  width: 75px;
  height: 30px;
  font-size: 14px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
  border: 0px;
  border-right: 1px solid #777777;
  background-color: white;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.button:last-child{
  border: 0px;
}
/* end header */


main{
  padding-top: 25px;
  padding-bottom: 50px;
  background-image: url("assets/images/united-squares-negative.png");
}

.mainWrapper{
  border:1px solid #dddddd;
  width: 960px;
  height: 100%;
  background-color: #ffffff;
  margin: 0 auto;

  padding: 20px;

}

h1{
  color: #4aaaa5;
  font-size: 22px;
  font-weight:900;
  margin-bottom: 15px;
}

h3{
  margin-top:10px;
}

p{
  margin-bottom: 10px;
  word-spacing: 1px;
  line-height: 20px;
}


input{
  width: 100%;
  padding:3px;

}

#longInput{
  height: 200px;
  width: 100%;
  border: 1px solid #dddddd;
}

#submitButton{
  background-color: #4aaaa5;
  color: white;
  height: 30px;
  width: 75px;
  margin-top: 15px;
}

img{
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}


.box{
  position: relative;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  float: left;
  /* background-image:url("https://via.placeholder.com/200x150"); */
  background-image:url("../images/200x150.png");
  /* why dosen't this work? */
}
#OFH{
  overflow: hidden;
}

.box:nth-child(2n+1){
  float:left;
}

.box:nth-child(2n){
  float:left;
}

.banner{
  position: absolute;
  width: 100%;
  bottom: 10%;
  color: #ffffff;
  background-color: #4aaaa5;
  text-align: center;
  padding: 10px;
}



/* end main */


/* footer css */

footer{
  position: fixed;
  width: 100%;
  height: 45px;
  left:0;
  bottom:0;
}



.copyrightText{
  border-top: 8px solid #4aaaa5;
  background-color: #666666;
  width: 100%;
  height: 100%;
  text-align:center;
  position: relative;

}

.centerText{
  text-align: center;
  vertical-align: middle;
  line-height: 65px;
  color: white;
  font-size: 8px;

}



@media screen and (max-width: 980px){
.headerWrapper{
  width: 760px;
}

.mainWrapper{
  width: 760px;
}

} /* end media max-width 980px */


@media screen and (max-width: 768px){
.headerWrapper{
  width: 630px;
}

.mainWrapper{
  width: 630px;
}

} /* end media max-width 768px */



@media screen and (max-width: 640px){
.headerWrapper{
  width: 500px;
}

.mainWrapper{
  width: 500px;
}

} /* end media max-width 640px */
